[2015-10-21 16:48] kevbite opened #1 "Issue When Searching for a Company"
When searching for a company the following exception is being thrown:

[code]

The following search search request is being passed in:
[code]

[2015-10-23 12:35] kevbite commented on #1
Just a bit of investigation and it seem that the response for date_of_cessation set to "Unknown" (see below) We'll need to create a custom Json Converter for this.

[code]

[2015-12-24 09:30] #1 closed

[2016-03-03 11:50] turowicz opened #6 "Implement Filings"
Ability to list all filings with appropriate descriptions from:

https://github.com/companieshouse/api-enumerations/blob/master/filing_history_descriptions.yml

[2016-03-03 14:13] kevbite commented on #6
Hello,
Listing the filing history seems fine but not sure we should be putting UI concerns within this API wrapper, these should be implemented in your UI layer based on the enum values that the wrapper returns. If you think about localization then this makes more sense to be in the UI layer within your application.

[2016-03-03 17:48] turowicz commented on #6
@kevbite you are absolutely right - I meant the API call to get the filings. Actual descriptions are linked for reference (so we don't forget to use them in UI)

[2016-03-03 18:44] turowicz commented on #6
Have a look at my PR, it probably makes more sense.

[2016-03-04 09:55] turowicz commented on #6
PR #7 all ready to be accepted so this can be resolved

[2016-03-04 11:45] #6 closed

[2016-03-04 11:49] kevbite opened #8 "Update Readme with get company filing history usage."
Seems like a @Jay2Base kinda issue to fix ;)

[2016-03-04 12:32] turowicz opened #9 "Targeting Hell"
Unfortunately my clients are using various versions of .NET and this library only targets 4.5.1.

This issue is to create targets for 4.5, 4.6, and Core (at least).

All files to be included in a single nuget package.

References:
http://blog.marcgravell.com/2015/11/the-road-to-dnxpart-3.html
https://stackoverflow.com/questions/34611829/how-to-package-a-net-framework-library

[2016-03-04 12:35] turowicz commented on #9
@kevbite if I create a PR with necessary changes, would you do the Appveyor side?

[2016-03-04 12:42] kevbite commented on #9
That's fine, If i remember its a lot hard than it looks from the cover as you also need to re-target the nuget packages being used within the project.

Would a interim release of just knocking down the framework to 4.5 work for you?

[2016-03-04 12:43] turowicz commented on #9
Yes - that would be great!

I would save me today :)

side note: a single nuget package can have multiple versions of the library inside, it's supported out of the box, the real problem is producing those dlls. I may have some time over the weekend to do that but knocking the version down do 4.5 would save me today.

[2016-03-04 12:58] kevbite commented on #9
I'll sort out bumping down to version 4.5 within the next hour.

[2016-03-04 13:00] turowicz commented on #9
@kevbite done - check it out in PR

[2016-03-04 13:03] kevbite commented on #9
OK cheers

[2016-03-04 13:16] #9 closed

[2016-03-07 10:16] turowicz opened #11 "Add mappings for description values in Filings data"
There is an undocumented field that is required so that we can display correct descriptions of each filing.

The field is `description_values`

[2016-03-07 10:47] kevbite commented on #11
Do we have a few examples of what is returned? Just to give us an idea of how to model it?

[2016-03-07 10:58] turowicz commented on #11
I left it as a comment to your comment on the PR

[2016-03-07 10:59] turowicz commented on #11
`descrpition_values` is a json object, not an array, dictionary or scalar. It can be anything therefore we have to return it as the full jobject and use dynamic dispatch to grab the values for text formatting.

[2016-03-07 15:53] #11 closed

[2016-03-09 11:04] turowicz opened #13 "Officer Summary always null"
The library is not retrieving Officer Summary or the Officer list.

@kevbite are you guys aware of this?

[2016-03-09 11:27] turowicz commented on #13
I'm going to add it - should it be a separate client or another HTTP call in the Profile client?

[2016-03-09 13:00] kevbite commented on #13
Looks like it should be pulled with the company profile - `officer_summary` - https://developer.companieshouse.gov.uk/api/docs/company/company_number/companyProfile-resource.html
Feel free to add it if its not included.

There is however a officers list which has more details - https://developer.companieshouse.gov.uk/api/docs/company/company_number/officers/officerList.html

[2016-03-09 13:18] turowicz commented on #13
@kevbite added the /officers endpoint - it is always guaranteed to return data while company profile's officer summary is optional.

[2016-03-09 14:37] kevbite commented on #13
I'm busy in meetings all afternoon but I've got @Blundell89 to check this over and merge it in for you.

[2016-03-09 14:42] turowicz commented on #13
thanks!

[2016-03-09 15:24] #13 closed

[2016-03-10 09:27] kevbite opened #16 "Update readme with Officer list usage"

[2016-03-11 13:27] turowicz opened #17 "Enums blowing up"
Turns out CH API documentation is crap and doesn't list correct values for enumerations.

I am going to add more tests and more mappings.

cc @kevbite @Blundell89

[2016-03-11 13:40] kevbite commented on #17
Ok no worries, Keep us updated.

[2016-03-11 14:23] turowicz commented on #17
@kevbite PR added

[2016-03-11 14:39] #17 closed

[2016-03-11 16:46] turowicz opened #19 "Director Resignation Date"
Currently it's impossible to tell whether a director is active or not. Normally this would be based on a nullable DateOfResignation.

I will bring it in.

cc @kevbite

[2016-03-11 16:53] kevbite commented on #19
Merge in PR.

[2016-03-11 16:53] #19 closed

[2016-04-15 14:20] kevbite commented on #16
updated... closing

[2016-04-15 14:20] #16 closed

[2016-08-11 16:56] Amith211 opened #23 "CompanyType 'uk-establishment' - 'Newtonsoft.Json.JsonSerializationException'"
It appears there is a relatively new **CompanyType** called **'uk-establishment'**.
You might find [this post](http://forum.aws.chdev.org/t/uk-establishments/597) useful:

This results in the following in VS:
An exception of type **'Newtonsoft.Json.JsonSerializationException'** ...

Additional: Error converting value **"uk-establishment"** to **type** **'LiberisLabs.CompaniesHouse.Response.Company

[2016-08-11 17:05] Amith211 opened #24 "CompanyStatus 'closed' - 'Newtonsoft.Json.JsonSerializationException'"
I not sure whether this ought to be a separate issue or not. See Also Issue #23.

When using the same query as before (**CompanySearch** with query text as 'British Gas')
I'm also getting the following:

An exception of type **'Newtonsoft.Json.JsonSerializationException'**

Additional: Error converting value **"closed"** to **type** **'LiberisLabs.CompaniesHouse.Response.CompanyStatus'. Path 'item

[2016-08-13 14:06] kevbite commented on #24
Thanks for raising, this issue has now been fixed in version 2.4.5 - https://www.nuget.org/packages/CompaniesHouse/1.4.5

[2016-08-13 14:06] #24 closed

[2016-08-13 14:10] kevbite commented on #23
Seems like the API docs online differ from the actual possible enum list here too - https://github.com/companieshouse/api-enumerations/blob/master/constants.yml

[2016-08-13 14:17] kevbite commented on #23
Fixed in version 2.4.6 https://www.nuget.org/packages/CompaniesHouse/1.4.6

[2016-08-13 14:17] #23 closed

[2016-09-14 13:54] wreid306 opened #28 "Company Status - 'Closed-On'"
See screenshot, had a search result bring back 'closed-on' as the company status which doesnt exist in
LiberisLabs.CompaniesHouse.Response.CompanyStatus

Can we have this added in please?

![screenshot](https://cloud.githubusercontent.com/assets/10054139/18514549/e7bfa2a6-7a89-11e6-942c-a7c03881b11f.png)

![2016-09-14 14_52_06-khinnect crm](https://cloud.githubusercontent.com/assets/10054139/18514

[2016-09-14 21:42] rcocks opened #29 "Adding other search types / endpoints"
Hello, are there any plans to implement other search types?

The Companies House API supports the following search types as described here: https://developer.companieshouse.gov.uk/api/docs/search-overview/search-overview.html

There are

- [x] Search All
- [x] Search company information
- [x] Search for officer information
- [x] Search for disqualified officer information

Are there any plans to a

[2016-09-18 21:43] kevbite commented on #29
Hello @rcocks, these endpoints didn't exist when we first implemented the wrapper. If you have some free time feel free to log a issue for the search your going to implement and then submit a PR that links it.

Looking at the docs it seems that if we implement `Search All` then the other ones will just use the same return types for desalinization.

As always contributions are welcome and much appr

[2016-09-18 21:47] kevbite commented on #28
`closed-on` isn't even part of their api documentation - https://github.com/companieshouse/api-enumerations/blob/master/constants.yml#L101

Not sure what the difference is between `closed` and `closed-on`, unless it means its due to be closed in a future date?

Adding the extra enumeration shouldn't be an issue, I'll try get this sorted tomorrow.

[2016-09-19 10:58] kevbite commented on #28
This is now fixed in version 1.4.7

[2016-09-19 10:58] #28 closed

[2016-09-19 11:48] wreid306 commented on #28
Many Thanks!

[2016-09-19 13:43] kevbite opened #32 "Update Filing Sub-Category to reflect API changes"
The sub-categories on the API have changed, we need to update our enum to reflect these changes.

See https://developer.companieshouse.gov.uk/api/docs/company/company_number/filing-history/filingHistoryItem-resource.html

[2016-09-19 14:39] kevbite commented on #8
Read me is now up to date!

[2016-09-19 14:39] #8 closed

[2016-09-21 14:00] kevbite opened #34 "Add support for `Search company officers`"
It's been raised in Issue https://github.com/kevbite/CompaniesHouse.NET/issues/29 that there is now new search functionality within companies house api.

This issue to implement the search company officers list.

[2016-09-22 10:34] #34 closed

[2016-10-11 20:39] kevbite opened #37 "Add functionality for `Search for disqualified officer`"
It's been raised in Issue #29 that there is now new search functionality within companies house api.

This issue to implement the search for disqualified officer.

[2016-10-14 17:22] kevbite opened #39 "Update readme with `Search for disqualified officer` usage."

[2016-10-14 17:28] kevbite commented on #37
Searching for disqualified officers is now available within version 2.1.0 - https://www.nuget.org/packages/CompaniesHouse/2.1.0

[2016-10-14 17:28] #37 closed

[2016-10-14 17:28] kevbite opened #40 "Add functionality for `Search All`"
It's been raised in Issue #29 that there is now new search functionality within companies house api.

This issue to implement the search all.

[2016-10-16 20:16] kevbite opened #42 "Update readme with `Search All` usage."

[2016-10-16 20:17] kevbite commented on #40
Implemented in version 3.0.0 - https://www.nuget.org/packages/CompaniesHouse/3.0.0

[2016-10-16 20:17] #40 closed

[2016-10-16 20:19] kevbite commented on #29
All functionality is now implemented within version 3.0.0 (https://www.nuget.org/packages/CompaniesHouse/3.0.0), readme still needs updating for usage of new functionality but these are now outstanding issues, See #39, #42

[2016-10-16 20:19] #29 closed

[2016-10-23 11:58] kevbite opened #43 "Use only one HttpClient for all requests"
We should be using one HttpClient for all requests until the `CompaniesHouseClient` is disposed.

See http://aspnetmonsters.com/2016/08/2016-08-27-httpclientwrong/

[2016-10-26 08:11] kevbite commented on #42
Updated README.md in version 3.0.1

[2016-10-26 08:11] #42 closed

[2016-10-26 08:11] kevbite commented on #39
Updated README.md in version 3.0.1

[2016-10-26 08:11] #39 closed

[2016-10-27 10:57] St1ngR4y opened #45 "Could not load file or assembly 'Newtonsoft.Json, Version=7.0.0.0,"
Hi I'm trying to use CompaniesHouse.Net in form code of an InfoPath form.

When it gets to var result = await client.SearchAllAsync(request); it throws a Could not load file or assembly 'Newtonsoft.Json, Version=7.0.0.0, error, is I pudate to version 7 of Newtonsoft.Json its tries to reference version 6.

Please help.

[2016-10-27 10:58] St1ngR4y commented on #45
![companieshouseerror](https://cloud.githubusercontent.com/assets/23097681/19764764/ad624c4c-9c3c-11e6-8a9e-e399ce96e236.JPG)

[2016-10-27 10:59] St1ngR4y commented on #45
![companieshouseerror](https://cloud.githubusercontent.com/assets/23097681/19764800/da5eb00a-9c3c-11e6-99b8-989993dfb1c5.JPG)

[2016-10-27 11:06] kevbite commented on #45
Did you upgrade to the latest version of `Json.Net` [nuget v9.0.1](https://www.nuget.org/packages/newtonsoft.json/9.0.1)?

If you require that version then you could use assembly redirects to redirect assembly version at app level (That's if InfoPath supports this) - https://msdn.microsoft.com/en-us/library/7wd6ex19(v=vs.110).aspx

Or If you don't require the latest version you could always just i

[2016-10-27 11:43] kevbite opened #46 "Update all dependant NuGet package"
As a package consumer
I want to keep the dependant packages up-to-date
So that my software is more stable

*Criteria*
- All packages are up-to-date

*Assumptions*
- Packages will eventually go out of date

*Relations*
- #45

[2016-10-27 11:59] St1ngR4y commented on #45
Hi thanks for the super quick reply.

When i install json.net v7 i get the same error but cannot reference v6? Also companieshouse.net installs v6 out of the box. I will look into the redirect but could it be a limitation of  infopath? Also i have to change .net versions from 4 to 4.5 in the code editor so could there be references set by that?

Thanks in advance im quite new to development so apo

[2016-10-27 12:00] St1ngR4y commented on #45
![error2](https://cloud.githubusercontent.com/assets/23097681/19766367/44c20b10-9c45-11e6-9c15-412b8c9fdb8c.JPG)

[2016-10-27 12:44] kevbite commented on #46
All updated and in version 3.0.2 - https://www.nuget.org/packages/CompaniesHouse/3.0.2

[2016-10-27 12:44] #46 closed

[2016-10-27 12:44] kevbite commented on #45
I've updated the packages try the latest version 😄

[2016-10-27 13:48] Aenedor opened #48 "REQUEST - Addition of GET /company/{company_number}/insolvency API"
Thanks for all your guidance today Kevin :)

Please could you add the GET /company/{company_number}/insolvency API.

Best Regards

Peter

[2016-10-27 15:35] St1ngR4y commented on #45
Hi thanks for the super quick reply. When i install json.net v7 i get the
same error but cannot reference v6? Also companieshouse.net installs v6 out
of the box. I will look into the redirect but could it be a limitation of
infopath? Also i have to change .net versions from 4 to 4.5 in the code
editor so could there be references set by that?

Thanks in advance im quite new to development so apolo

[2016-11-01 16:10] kevbite commented on #48
@Aenedor do you have a company number for an insolvent company?

[2016-11-01 16:25] Aenedor commented on #48
Hi Kev, here you go, 03044143

_On 2016-10-20, 03044143 went into Creditors Liquidation. Kenneth William Touhey , Insolvency & Recovery Ltd, at 2nd Floor, Chapelworth House, 1 Chatsworth Road, Worthing, West Sussex, BN11 1LY has been appointed Liquidator._

[2016-11-01 16:35] Aenedor commented on #48
@kevbite Actually try this one 08749409, looks like the above was too recent

[2016-11-09 22:05] kevbite commented on #48
Now implemented in version 3.1.0, see https://www.nuget.org/packages/CompaniesHouse/3.1.2

[2016-11-09 22:05] #48 closed

[2016-11-16 08:13] kevbite opened #52 "Update ReadMe to include that CompaniesHouseClient is Disposable"
We need to include that `CompaniesHouseClient` is Disposable and should be disposed after use.

[2016-11-16 08:18] kevbite commented on #43
Now only using one HttpClient but the CompaniesHouseClient now needs to be disposed after use.
Version 3.1.3 - https://www.nuget.org/packages/CompaniesHouse/3.1.3

Added another issue regarding updating readme on disposing objects - #52

[2016-11-16 08:18] #43 closed

[2016-11-16 08:35] kevbite commented on #52
Now updated in v 3.1.4 https://www.nuget.org/packages/CompaniesHouse/3.1.4

[2016-11-16 08:35] #52 closed

[2016-11-17 17:29] kevbite opened #54 "Support .NET Core"
https://docs.microsoft.com/en-us/dotnet/articles/core/porting/libraries

[2016-11-29 12:42] kevbite opened #56 "Pull requests are failing on appveyor"
When opening a pull request, the pull request is failing to run though the tests on appveyor as it can't get access to the secure variable anymore. This seems to have changed in appveyor recently.

https://www.appveyor.com/docs/build-configuration/#secure-variables
![image](https://cloud.githubusercontent.com/assets/5544715/20710229/45bce5d4-b631-11e6-8065-0f03deb0cbc8.png)

[2016-12-27 11:01] kevbite commented on #45
@St1ngR4y did you get this sorted?

[2017-01-03 09:16] kevbite commented on #45
Closing off issue.

[2017-01-03 09:16] #45 closed

[2017-01-03 09:20] St1ngR4y commented on #45
Hi Kevin, no sorry had to drop the feature from he form. I tried everything
at the time to get it working but no luck.

On 27 Dec 2016 11:01, "Kevin Smith" <notifications@github.com> wrote:

@St1ngR4y <https://github.com/St1ngR4y> did you get this sorted?

—
You are receiving this because you were mentioned.

Reply to this email directly, view it on GitHub
<https://github.com/kevbite/CompaniesHous

[2017-01-03 10:06] kevbite commented on #45
OK no worries, did you try sticking anything on http://stackoverflow.com/ regarding using libraries and InfoPath form?

[2017-04-28 14:12] kevbite commented on #56
I've just embedded the API key in the integration tests... YOLO!

[2017-04-28 14:12] #56 closed

[2017-04-28 14:15] kevbite commented on #54
Nuget Package 3.2.0 now contains standard 1.1! https://www.nuget.org/packages/CompaniesHouse/3.2.0

[2017-04-28 14:15] #54 closed

[2017-06-09 10:18] Jibran18 opened #59 "Default XML namespace error"
Hi,
I am new to companies house API and try to learn your code to make my own solution, but when I try to build solution on VS2013 it came up with error

I have tried to look into the internet to find out solution but not been able t.
Can you please advise what I am missing to run the companies house test api?

Thanks for your help in advance

Jibran

[2017-06-09 18:07] kevbite commented on #59
Hello,
This project will not open with VS2013 as it uses cproj files with the new msbuild for dotnet core. You can however use VS2017 or dotnetcore CLI. this can be downloaded at https://www.microsoft.com/net/download/core
https://www.visualstudio.com/downloads/

If you're thinking about extending the project it might be worth pushing your changes back in to the OSS project for other people to ben

[2017-06-21 13:57] Jibran18 opened #60 "VS2017 installation issue"
Hi,
I want to test the current companies house api application, but not been able to as it does only work with Visual Studio 2017. Can someone share with me the application compatible with other versions of visual studio. I am currently using visual studio 2015

[2017-06-28 14:57] kevbite commented on #60
What do you mean by test? You should be able to install the package from nuget, search for `companieshouse`

[2017-08-18 10:28] conficient commented on #60
Installed on VS2017 here, runs perfectly, no problems. It's probably your setup @Jibran18 that is at fault here?

[2017-08-22 16:55] kevbite commented on #59
For the time being I'm closing this issue, If you have any other problems just open up a new issue.

Thanks

[2017-08-22 16:55] #59 closed

[2017-08-22 16:56] kevbite commented on #60
For the time being I'm closing this issue, If you have any other problems just open up a new issue.

Thanks

[2017-08-22 16:56] #60 closed

[2017-08-23 11:38] conficient opened #61 "Unhandled FilingCategory value `persons-with-significant-control`"
Test failed for 03977902, unhandled category:
[code]
I will be submitting a pull request to fix this.

[2017-08-23 11:43] conficient opened #62 "Unhandled CompanyType value `registered-society-non-jurisdictional`"
Thanks for the most excellent library!

I was washing our list through this and came across this error:
[code]
Looks like the "Registered Society" type not is handled by the enum, e.g. https://beta.companieshouse.gov.uk/company/RS004345

I will be submitting a pull request to add this type to the code.

[2017-08-23 16:04] kevbite commented on #62
Thanks for the PR, Companies House seem to have missed a few of these off their api spec before.

However all the changes are all merged in and we've pushed Companies House [3.2.1](https://www.nuget.org/packages/CompaniesHouse/3.2.1) to nuget.org

[2017-08-23 16:04] #62 closed

[2017-08-23 16:05] kevbite commented on #61
Fixed part of [CompaniesHouse 3.2.1](https://www.nuget.org/packages/CompaniesHouse/3.2.1) Release.

[2017-08-23 16:05] #61 closed

[2018-01-31 09:16] digitalanalogue9 opened #64 "Charges and PersonsWithSignificantControl"
Hi - are you accepting pull requests with new features?

I've got a requirement at work to get the Charges and PersonsWithSignificantControl.  I'd like to get it into the codebase so other devs at work can just pull down the nuget package.

I wasn't sure if there was anything specific you wanted to see in the code.  I had one question over PersonsWithSignificantControl as it has 7 endpoints.  At t

[2018-01-31 11:21] kevbite commented on #64
Hello,

I'm always up for new features/functionality being developed into this project, the only reason why It stopped where it has is that these are the set of APIs I required.

As for coding style, copying the current way is the best idea with regards to testing too.

At the moment `ICompaniesHouseClient` acts as a facade into the library which I'd like to keep it that way, makes it a lot easier

[2018-02-16 10:13] kevbite commented on #64
Hey @DanHibbert How's the work going? Do you need any help?

[2018-04-06 16:45] hughmullally opened #65 "CompaniesHouse sample code not working - example please"
I'm having a problem running your sample code.   When function SearchAllAsync is called (with the await keyboard), it does'nt return to the following statement in that function, but to the next statement in the calling function.   No exception is thrown.

I'm sure I'm doing something really dumb (probably to do with the async code), but it would help to have a simple full working example that I co

[2018-04-06 18:58] kevbite commented on #65
Have you got an example of what you are trying to run?

[2018-04-06 23:04] hughmullally commented on #65
Thanks for replying so quickly.   Here is the code:

using System.Diagnostics;
using CompaniesHouse;
using CompaniesHouse.Request;

namespace CompaniesHouseApi
{
    class Program
    {
        private static string ChKey = "TM4vsfrlRKop0jVbzZK0V4l1OmtluusevXMQLFpW";
        private static CompaniesHouseSettings Settings { get; set; }

        static void Main(string[] args)
        {

[2018-04-09 11:52] hughmullally commented on #65
Perfect.   I was using VS2017, but for some reason the 4.7.1 runtime wasn't available.   I downloaded that, made the code changes you suggested, and my initial test program works fine.

Thanks very much for your help and the quick responses.

[2018-04-09 12:01] kevbite commented on #65
Glad you got it working! Any other problems just open another issue.

[2018-04-09 12:01] #65 closed

[2018-04-16 19:04] poweriton opened #66 "FillingSubcategory mapping issue"
There is a a problem when your mapping a filling item containing a subcategory. I noticed this on insolvency records. As i dont need it the answer was to comment out
[code]

within the filling item. However looking at it im not sure if its because the return contained two subcategory items and the property isnt an array

[2018-04-16 19:50] kevbite commented on #66
Do you have an example of the request you are trying that is failing?

[2018-04-16 19:51] poweriton commented on #66
{"items_per_page":25,"total_count":11,"filing_history_status":"filing-history-available","start_index":0,"items":[{"description":"liquidation-compulsory-winding-up-order","date":"2010-12-01","category":"insolvency","type":"COCOMP","subcategory":["compulsory","court-order"],"links":{"document_metadata":"https://document-api.companieshouse.gov.uk/document/-prSRnOjeQkfdZ7e6aF5F2Co7DB7T0o7hGiXXbfs-RQ"

[2018-04-16 20:05] kevbite commented on #66
Looks like they've changed the API so that `subcategory` can be an array or a string.

[code]

[code]

[2018-04-16 20:06] poweriton commented on #66
thought as much, the descriptions for the above are also missing from the subcategory enums.

[2018-04-16 21:05] kevbite commented on #66
No worries, I'd rather people raise issues so we can get them ironed out, and it looks like they've just extended the API so better for us to support it.

Pretty much nearly there, just some of the tests are failing because they're expecting some old values. I'll, however, sort them in the morning.

[2018-04-17 08:41] kevbite commented on #66
This is all fixed in version [4.0.0](https://www.nuget.org/packages/CompaniesHouse/4.0.0).

[2018-04-17 08:42] kevbite commented on #66
I'm closing this issue but if you have any more problems don't hesitate to open another issue. 👍

[2018-04-17 08:42] #66 closed

[2018-05-06 13:27] AlwaysVbNet opened #68 "Getting started with this library"
Hello, I am trying to use your library like below, but the object returned does not have any valid information. Any ideas what I'm doing wrong? Is the code updated to the latest API?
[code]
then the "xx" object equals to:
[code]

[2018-05-06 17:56] kevbite commented on #68
Hello,
The `GetCompanyProfileAsync` returns a `Task<T>` so you'll need to `Await` on the task that is returned to get the response from the call.

You should be able to change your statement of:
[code]
to
[code]

However rthis has to run within an Async method. More details about how to do asynchronous programming in VB can be found here - https://docs.microsoft.com/en-us/dotnet/visual-basic/progr

[2018-05-06 21:45] AlwaysVbNet commented on #68
Nice library. Good work

[2018-05-07 07:05] #68 closed

[2018-05-09 18:44] AlwaysVbNet opened #69 "Downloading files"
Kev, at the moment I'm downloading the files like the code below. How could I download a PDF file via your DLL? I've noticed that the method GetCompanyFilingHistoryAsync fetches information and provides a URL within each item in the Links list. Do you provide any method to download those files? What do you suggest?

[code]

[2018-05-12 19:25] kevbite commented on #69
Hello,
At the moment we don't have anything built into our API wrapper for this yet, however, if it's something you'd like including I don't think it would be much effort to include this within our library.

It's all documented on their website - https://developer.companieshouse.gov.uk/document/docs/

The code that you provided should work perfectly fine as a short-term solution if you need to wri

[2018-05-12 20:16] AlwaysVbNet commented on #69
Cool. It would be a nice add on. Also it would be great if a prospective function  could provide the option to return a base64 string like above or write to file.

[2018-05-12 20:50] kevbite opened #70 "Extend API Wrapper to fetch a document's metadata"
Details of API calls can be found [here](https://developer.companieshouse.gov.uk/document/docs/document/id/fetchDocumentMeta.html)

[2018-05-12 20:52] kevbite opened #71 "Extend API wrapper to include fetch a document"
Details on Document API can be found [here](https://developer.companieshouse.gov.uk/document/docs/document/id/content/fetchDocument.html)

[2018-05-12 20:53] kevbite commented on #69
We'll most likely pass back a Stream, in which you can use to write to a file. I'll make sure I update the readme with some details.

Linking #70 & #71

[2018-06-12 13:24] darrenc83 opened #73 "Company Type Enums Error"
Whilst using the API searching for the following company

brighouse computers

i got the below error:

Newtonsoft.Json.JsonSerializationException: Error converting value "charitable-incorporated-organisation" to type 'CompaniesHouse.Response.CompanyType'. Path 'company_type', line 1, position 2090. ---> System.ArgumentException: Requested value 'charitable-incorporated-organisation' was not found.

[2018-06-12 17:58] kevbite opened #74 "Deal with null company status when searching for a company"
We seem to be getting `null` back for some companies within a search, we need to be able to deal with receiving a `null` value

[code]

[2018-06-13 07:51] kevbite commented on #73
I've updated the companies types enum but there also seems to be companies coming back with `null` statuses that need changing too. I've logged this as a separate issue #74

[2018-06-13 07:52] #73 closed

[2018-06-28 13:07] darrenc83 commented on #74
Hi Kev, any update on the above, i was going to try catch this particular error and handle it and set company status to none in this instance, however the error is thrown in the json de-serialization so cannot grab it unfortunately

[2018-06-28 14:35] kevbite commented on #74
OK I've fixed it another way so we don't have breaking changes in the Libary API. I'll push it in a moment.

[2018-06-28 14:40] darrenc83 commented on #74
was contemplating doing that but by default if its null it seems to set it to None anyway with the change i made :)

[2018-06-28 14:48] kevbite commented on #74
Should be all fixed now in version [4.0.3](https://www.nuget.org/packages/CompaniesHouse/4.0.3)

Please check it out, and if you have any other problems just raise another issue.

Thanks.

[2018-06-28 14:48] #74 closed

[2018-06-28 14:51] darrenc83 commented on #74
will do cheers

[2018-07-11 08:49] AlwaysVbNet opened #77 "Dissolved companies FilingCategory"
Kevin,

when trying to get the filing history of company number "06454743" which appears to be "Dissolved"
an exception is thrown:

{"Error converting value ""restoration"" to type 'CompaniesHouse.Response.FilingCategory'. Path 'items[10].category', line 1, position 5612."}

Any ideas?

[2018-07-11 08:53] kevbite commented on #77
Looks like they might have updated the `FilingCategory` values, we'll need to add `restoration` to the list of possible enum values in [FilingCategory.cs](https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse/Response/FilingCategory.cs)

[2018-07-11 11:07] kevbite commented on #77
Thanks for helping out with that, will be in next version after #78 has merged back to master and deployed.

[2018-07-11 12:50] #77 closed

[2018-07-13 09:18] vinhalo opened #79 "Missing value 'notifications' in CompaniesHouse.Response.FilingSubcategory enum"
The following exception occurs when getting the Filing History for certain companies :

Error converting value \"notifications\" to type 'CompaniesHouse.Response.FilingSubcategory'.

[2018-07-13 10:07] kevbite commented on #79
Hello, Do you have an id as an example so we can test this?

[2018-07-13 10:14] vinhalo commented on #79
Hi there,

If you try getting the filing history (50 items per page) for company 10225670 you should encounter the error.

Thanks

[2018-07-13 11:02] kevbite commented on #79
Thanks, I'll try to sort this out soonish... unless you fancy having a go and submitting a PR.

[2018-07-13 11:43] vinhalo commented on #79
Yeah I can have a stab shouldn't be too difficult cheers.

[2018-07-13 11:51] vinhalo commented on #79
PR submitted.

[2018-07-13 13:04] kevbite commented on #79
Thanks, It's just building and will be released soon in version 4.0.5

[2018-07-13 15:21] #79 closed

[2018-07-16 10:43] wreid306 commented on #64
Interested in both these items, would you have a rough timescale for these to be added in?

[2018-07-16 13:42] kevbite commented on #64
@DanHibbert did you start any of this work? If not we're happy to take contributions to the project if you're happy implementing @wreid306?

[2018-07-20 06:26] JulianGuppy opened #81 "GetCompanyFilingHistoryAsync() Officers not found"
When using the _companiesHouseClient.GetCompanyFilingHistoryAsync
with a company registration number of 0795823 (my old company)

i get the following crash: -

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=mscorlib

Inner Exception 1:
JsonSerializationException: Error converting value "officers" to type 'CompaniesHouse.Response.FilingSubcategory'. P

[2018-07-20 06:50] JulianGuppy opened #82 "GetCompanyFilingHistoryAsync() Error converting Liquidation to type"
When using _companiesHouseClient.GetCompanyFilingHistoryAsync with a company registration number of 00059337 I get the following error:-

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred.
  Source=mscorlib
  StackTrace:
Inner Exception 1:
JsonSerializationException: Error converting value "liquidation" to type 'CompaniesHouse.Response.ResolutionCategory'. Path '

[2018-07-20 08:17] kevbite commented on #81
Hello, thanks for raising the issues.

The API will have been extended to pass back more values and we'll need to update our code to reflect these changes too.

These are small fixes, so I'll try to do them later on today.

[2018-07-24 09:07] kevbite commented on #81
This should be fixed in the latest release [5.0.0](https://www.nuget.org/packages/CompaniesHouse/5.0.0) can you update the packages and test this is working and raise another issue if you're still having problems.

Thanks!

[2018-07-24 09:07] #81 closed

[2018-07-24 09:08] kevbite commented on #82
This should be fixed in the latest release [5.0.0](https://www.nuget.org/packages/CompaniesHouse/5.0.0) can you update the packages and test this is working and raise another issue if you're still having problems.

Thanks!

[2018-07-24 09:08] #82 closed

[2018-08-06 14:19] JulianGuppy opened #84 "Would it be possible to extend the Officer class so that I can get the nationality"
Proposed:-
In Officer.cs

        [JsonProperty(PropertyName = "nationality")]
        public string Nationality { get; set; }

I need to know the nationality of a director as part of the verification KYC/AML on my project so this would be very handy.

Regards Julian

[2018-08-06 15:11] kevbite commented on #84
Hello,
Sounds perfectly fine, It looks like they've added a bunch of new properties to the Officers response since last time I had a look -https://developer.companieshouse.gov.uk/api/docs/company/company_number/officers/officerList-resource.html

Also, I've noticed that they don't return a officers overview anymore on the companies profile response - https://developer.companieshouse.gov.uk/api/doc

[2018-08-06 21:41] kevbite commented on #84
Changes have been included and will be in release [6.0.0](https://www.nuget.org/packages/CompaniesHouse/6.0.0)

[2018-08-06 21:49] kevbite opened #86 "Add extra officers fields to list officers"
Seems that the responses in the API have extra information on the officers, we should replicate that in the SDK. See #84

https://developer.companieshouse.gov.uk/api/docs/company/company_number/officers/officerList-resource.html

[2018-08-07 08:57] #84 closed

[2018-08-08 15:17] kevbite commented on #86
Looks good 👍

[2018-08-08 15:30] kevbite commented on #86
All merged in and available from version [6.1.0](https://www.nuget.org/packages/CompaniesHouse/6.1.0).

Thanks for contributing!

[2018-08-08 15:30] #86 closed

[2018-09-24 13:18] kevbite opened #88 "Improve Json Performance"
We should change around the `HttpContentExtensions.cs` to use streams instead of strings, as specified in the newtonsoft.json docs: https://www.newtonsoft.com/json/help/html/Performance.htm

[2018-09-28 14:07] AlwaysVbNet opened #89 "Error converting value ""notifications"""
@kevbite , I'm getting an error when I'm trying to pull the Company Filing History for company reg 03914263
like `Await client.GetCompanyFilingHistoryAsync("03914263")`

`{"Error converting value ""notifications"" to type 'CompaniesHouse.Response.FilingSubcategory'. Path 'items[4].subcategory', line 1, position 2536."}`

Any ideas?

[2018-09-28 14:35] kevbite commented on #89
I've just added that company number to the integration tests and seems to be working fine.

https://ci.appveyor.com/project/kevbite/companieshouse-net/build/0.0.0-issue89185

I think you might be running an older version of the NuGet package, try updating to the latest version

https://www.nuget.org/packages/CompaniesHouse/6.1.0

[2018-09-28 14:56] #89 closed

[2018-10-08 10:06] DanHibbert commented on #64
Really sorry for late reply !
Hi @kevbite - yes I did but I got a bit waylaid on other projects and then a bit stuck on the unit test side of things.  The code is there and working but I need to get the tests working before sending it back.

[2018-10-08 13:21] kevbite commented on #64
Hey @DanHibbert no worries about the time getting back to me, happy to wait or help along with what you've got if you want to submit a PR?

[2018-10-09 09:08] #88 closed

[2018-10-10 15:59] wreid306 opened #91 "'Company Type' Convert Error"
Hi Kev - error when searching company, seems we need a new company type added:

{"Error converting value \"scottish-charitable-incorporated-organisation\" to type 'CompaniesHouse.Response.CompanyType'. Path 'company_type', line 1, position 3319."}

Would it be possible, in the event of company type not parsing, having maybe an enum 'Other' and then the value as an addition string field?

[2018-10-10 16:15] kevbite commented on #91
Hey @wreid306, I'll add this as it's a quick fix... but I'll also add an issue to be able to fall back to an `Other` value.

[2018-10-10 16:29] kevbite commented on #91
@wreid306 just checked and it looks like this value is part of the latest build. Can you update to the latest NuGet package and try it again?

[2018-10-11 08:47] wreid306 commented on #91
Hi Kev, updated to v6.1.1 and now getting this for the same query

![image](https://user-images.githubusercontent.com/10054139/46792082-602a9200-cd3a-11e8-9359-ffff0ecd5f90.png)

[2018-10-11 08:52] wreid306 commented on #91
Thats the query if it helps

![image](https://user-images.githubusercontent.com/10054139/46792458-4fc6e700-cd3b-11e8-8cc3-143e1a05ba81.png)

[2018-10-11 15:02] wreid306 commented on #91
ahh shoot! Ill take another look here, I must be doing something silly!

Cheers for your help!

[2018-10-11 15:14] wreid306 commented on #91
Yep, I was being an idiot, although i updated to latest version in nuget, it somehow kept a reference to an older version... just sorted it and its working now!

[2018-10-11 17:39] kevbite commented on #91
Glad you've got it sorted! Going to close this issue but feel free to open another one if you experience any other problems.

[2018-10-11 17:39] #91 closed

[2018-10-14 16:45] kevbite opened #92 "Change the test projects to be the new csproj format"
The test projects still seem to be using the old style csproj formats, we should update these to the latest so we can have multitargeting tests for core and full framework

https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse.Tests/CompaniesHouse.Tests.csproj
https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse.IntegrationTests/CompaniesHouse.Integra

[2018-10-14 16:47] kevbite opened #93 "Change tests to run on multiple platforms"
We should run the tests both on full and core framework, this, however, is blocked until issue #92 is completed.

Info on testing multi targets:
https://stackoverflow.com/questions/44477840/how-to-properly-unit-test-a-net-project-with-multiple-target-frameworks-given

[2018-10-15 16:10] #92 closed

[2018-10-15 22:00] AlwaysVbNet opened #95 "Getting filing history #bug"
@kevbite I am trying to get the filing history for company reg "06484911" but I get the following error:

`{"Error converting value ""auditors"" to type 'CompaniesHouse.Response.ResolutionCategory'. Path 'items[12].resolutions[0].category', line 1, position 6271."} `

I am using the latest version of the project.

I noticed this error a few times for different categories. Is there a way to fallbac

[2018-10-15 22:49] kevbite commented on #95
Hello, the problem is there is no definitive list in their [API docs](https://developer.companieshouse.gov.uk/api/docs/company/company_number/filing-history/filingHistoryItem-resource.html), we could have a fallback value for the enums but then we'd never know if something went wrong or not.

[2018-10-15 22:53] #95 closed

[2018-10-15 22:54] kevbite commented on #95
Fixed in version [6.1.3](https://www.nuget.org/packages/CompaniesHouse/6.1.3)

[2018-12-03 16:22] JulianGuppy opened #97 "Issue using CompanySearch for search string "Bay Horse""
I have just started using the SearchCompanyAsync with the SearchRequest set to Query = "Bay Horse", StartIndex = 0, ItemsPerPage = 100

Snippet

[code]

When I make this call I get the following error message, :-

Error converting value "" to type 'CompaniesHouse.Response.CompanyType'. Path 'company_type', line 1, position 27814.

So I am assuming that the data that comes back from companies house

[2018-12-03 18:35] kevbite commented on #97
@JulianGuppy this is now fixed in version [6.1.4](https://www.nuget.org/packages/CompaniesHouse/6.1.4). If you have any other problems please feel free to raise them. Thanks

[2018-12-03 18:35] #97 closed

[2019-01-09 19:47] JulianGuppy opened #100 "Question about Getting The Company Details From SearchOfficerAsync"
I am using the API call SearchOfficerAsync to search for a person (I am then going through the results and using the date of birth I already have in my database to select the right individual Officer)

I get a Link (offier.Links.Self) which if followed takes me to the directorships for that person. Does your API expose the ability for me to in effect say Get me the companies for this person....

I

[2019-01-10 12:54] JulianGuppy commented on #100
I just say this on the pull request "added ability to get all appointments for an officer"..... I really want this feature. please let me know when this is ready/available.

[2019-01-11 12:50] kevbite commented on #100
I think what you want is in the latest version, if you check out this integration test it might be exactly what you require [OfficersTestsValid](https://github.com/kevbite/CompaniesHouse.NET/blob/354a5a648bf71ae21fbd10c7c2dace49ce9447af/src/CompaniesHouse.IntegrationTests/Tests/AppointmentsTests/OfficersTestsValid.cs)

Does that work for your scenario?

[2019-01-11 13:16] JulianGuppy commented on #100
I think I asked for the feature that has just been done, when will that be in the nuget? Id rather use the nuget than have to pull the code and build it... :) is that possible

[2019-01-11 22:59] kevbite commented on #100
It will be in the latest package, master auto builds and publishes to nuget. It's just we don't seem to have that functionality in the read me yet.

[2019-01-12 07:49] JulianGuppy commented on #100
I am on 6.1.5, and I dont have that method in my companieshouseClient.... something screwy with nuget perhaps?

[2019-01-12 10:34] kevbite commented on #100
OK, I'll take a look today and see what's what. Not sure what's wrong.

[2019-01-12 20:36] kevbite commented on #100
Right, I see what it is... your scenario is a little different from the one in the PR. I've altered the code and pushed a new package that will allow you to get an Officer Id from a search.

I've also added a test scenario with an example here - https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse.ScenarioTests/SearchForAnOfficerAndFetchCorrespondingCompanyScenarioTests.cs#

[2019-01-13 08:51] JulianGuppy commented on #100
ok I updated to 6.1.6 However,  I do not have the method GetAppointmentsAsync in my client, something is still wrong? my visual studio will not see that method  - i cant work out why not, I can open the DLL with ildasm and I can see the method, I check my packages.config and its pointing at 6.1.6, howevr in visual studio it refuses to believe that there is such a method
![cantseemethod](https://us

[2019-01-13 09:13] JulianGuppy commented on #100
Is it missing from the Interface ICompaniesHouseClient? I wonder

[2019-01-13 10:03] kevbite commented on #100
@JulianGuppy you're totally correct.

Just looked and it's not exposed on the `ICompaniesHouseClient` facade, total oversight on that one, sorry about that. In theory, all our tests should use the interface as that's what we expect people will be using.

I've updated the code in #102 which will enable this now and will be released in 6.1.7.

[2019-01-13 13:44] JulianGuppy commented on #100
Thank you, You have helped me out as I needed to make this work asap,,, I was about to go off and do all the low level stuff (which I wanted to avoid) Much Appreciated

[2019-01-13 13:44] #100 closed

[2019-01-13 14:54] kevbite commented on #100
Well if you need any other help just create another issue 👍

[2019-02-19 16:23] adancy opened #105 "Date of Dissolution has changed to Date of Cessation"
In CompanyProfile.cs lines 46-48 the "date_of_dissolution" property should actually be "date_of_cessation" .

According to http://forum.aws.chdev.org/t/company-profile-date-of-cessation-query/541 this was a mistake in the original documentation (which presumably you based your code on) - this has now been corrected in the docs at https://developer.companieshouse.gov.uk/api/docs/company/company_num

[2019-02-19 16:55] kevbite commented on #105
Hey @adancy, thanks for bringing that to our attention.

Should be a pretty easy fix so we'll add it to the backlog!

[2019-02-19 17:06] adancy commented on #105
No problem. I'll see if I can knock up a pull request when I get a moment. I just want to see if I come across any other differing fields first.

Great project - it's saving me a lot of time not having to write it all myself!

[2019-02-19 17:32] kevbite commented on #105
@adancy much appreciated, yeah the API has changed a lot since the first beta release of it which this was targeting, however, it works 99% of the time and grateful that people are raising issues where things have changed.

Glad you've found the library useful too.

[2019-02-20 21:40] kevbite commented on #105
All Merged in via PR #106 and is part of the [7.0.0](https://www.nuget.org/packages/CompaniesHouse/7.0.0) Release

Thanks for helping out!

[2019-02-20 21:40] #105 closed

[2019-02-25 14:35] invdev-rh opened #107 "New Filing Sub-Category document-replacement"
Hi,

I am getting the following error:
`Newtonsoft.Json.JsonSerializationException: Error converting value "document-replacement" to type 'CompaniesHouse.Response.FilingSubcategory'. Path 'items[1].subcategory', line 1, position 838. ---> System.ArgumentException: Requested value 'document-replacement' was not found.`

Looking at the attributes in FilingSubcategory it seems document-replacement is

[2019-02-26 09:02] kevbite commented on #107
Hey @invdev-rh,

You got a company number which is occoring for so I can reproduce it?

I'll try to get a fix in for this by tonight.

Cheers,

Kev

[2019-02-26 10:45] invdev-rh commented on #107
Yes, here it is: 09018331

Thanks for that Kev!

[2019-02-26 18:07] #107 closed

[2019-02-26 18:17] kevbite commented on #107
@invdev-rh this has now been fixed and is part of the release [7.0.1](https://www.nuget.org/packages/CompaniesHouse/7.0.1) feel free to grab the latest from [NuGet](https://www.nuget.org/packages/CompaniesHouse/7.0.1).

Thanks for raising this issue.

[2019-02-27 11:06] invdev-rh commented on #107
Fast work, thank you very much!

[2019-05-28 09:48] wreid306 opened #110 ""Authentication Failed because the remote party has closed the transport stream" Error"
Hi Kev,

Been using this for a few years now, have recently come across this error, tried updating to latest version with no joy. Any ideas?

its the SearchCompanyAsync method

![image](https://user-images.githubusercontent.com/10054139/58468684-ebc02a00-8135-11e9-85df-0f98d0c891bb.png)

[2019-05-28 12:09] wreid306 commented on #110
Turns out this is related to TLS, Companies house have removed support for TLSv1.0, so need to make sure application used 1.1 or 1.2

in my case, adding the following to 'application start' worked
(.net framework 4.7.2)
(using System.Net;)

ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls12;

[2019-05-28 12:09] #110 closed

[2019-05-28 13:51] kevbite commented on #110
@wreid306 thanks for posting the reason and solution around this issue 👍

[2019-05-30 10:44] AlwaysVbNet opened #111 "The underlying connection was closed: An unexpected error occurred on a send."
Hi @kevbite ,

I am getting an error
`InnerException = {"The underlying connection was closed: An unexpected error occurred on a send."}`

when calling this function:

[code]
The service was working fine until a few days ago.

Any ideas?

[2019-05-30 11:13] AlwaysVbNet commented on #110
@wreid306 Nice one

[2019-09-12 16:18] shauncassingham opened #112 "No connection could be made because the target machine actively refused it"
Trying to use CompanySearch, but coming up with the following error when awaiting the result;

System.AggregateException
  HResult=0x80131500
  Message=One or more errors occurred. (No connection could be made because the target machine actively refused it)
  Source=System.Private.CoreLib
  StackTrace:
   at System.Threading.Tasks.Task`1.GetResultCore(Boolean waitCompletionNotification)
   at Comp

[2019-09-13 13:02] kevbite commented on #112
@shauncassingham thanks for the update!

[2019-10-01 11:50] ermserg commented on #111
I'm getting the same exception since about 2 months ago. Any solutions?

[2019-10-01 12:35] kevbite commented on #111
Is this related to #112? I've just run all the tests locally and everything is passing so I'm guessing it's your environment that you're running in.

[2019-10-01 12:42] ermserg commented on #111
The code below has resolved the issue, thank you!

    void Application_Start(object sender, EventArgs e)
    {
        System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls12;
    }

[2019-10-01 13:45] kevbite commented on #111
@ermserg glad that sorted your issue. I'm going to close this issue but feel free to open another if you have any other problems. Thanks

[2019-10-01 13:45] #111 closed

[2019-10-26 20:48] #93 closed

[2019-10-28 09:09] #70 closed

[2019-10-28 09:11] kevbite opened #115 "Makes tests all Async instead of using .Result"

[2019-10-28 09:12] kevbite opened #116 "Update readme with download documents."

[2019-10-28 16:13] #115 closed

[2019-10-30 17:54] #112 closed, assigned to nobody

[2019-10-31 08:37] sakisk opened #119 "Extend API to include Charges"
Charges [documentation](https://developer.companieshouse.gov.uk/api/docs/company/company_number/charges/charges.html)

[2019-10-31 08:39] sakisk opened #120 "Extend API to include persons with significant control"
Persons with significant control [documentation](https://developer.companieshouse.gov.uk/api/docs/company/company_number/persons-with-significant-control/persons-with-significant-control.html)

[2019-10-31 08:40] sakisk commented on #64
Issues #119 and #120 created

[2019-11-01 17:19] #71 closed

[2019-11-01 17:19] #69 closed

[2019-11-01 17:19] #116 closed

[2019-11-06 16:25] kevbite commented on #120
Implemented in V7.4.1

https://www.nuget.org/packages/CompaniesHouse/7.4.1

[2019-11-06 16:25] #120 closed

[2019-11-20 11:08] s3quential opened #122 "Please include a sample project to help new users"
Could you include a sample project with the simplest request set up?  With apologies, I can't follow the docs sufficiently to get up and running.

Specifically, I'm struggling with:

**1) HTTPClient creation** - have you done this already in the package but for the following?

`using(var client = new CompaniesHouseClient(settings))
{
    // Do some work...
}`

When I use this inside a razor compon

[2019-11-21 14:36] kevbite commented on #122
Hello @s3quential
There is an example scenario which we use for testing the library which can be found here: https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse.ScenarioTests/SearchForAnOfficerAndFetchCorrespondingCompanyScenarioTests.cs#L22

Not sure if this is helpful or not, or would you want a more fully fledged example using say Blazor? The problem with us keeping exa

[2019-11-21 14:40] s3quential commented on #122
Thanks Kev, if that's the full set up then it should be super simple and its just my blind spot.

I'll implement and come back with any questions only if needed.

Cheers for that!

[2020-03-06 14:22] obinna962 opened #123 "resigned_on bombing out"
Hi Guys.

I downloaded this code yesterday and I realised that there's something weird about the JSON structure when using

[https://developer.companieshouse.gov.uk/api/docs/officers/officer_id/appointments/appointmentList-resource.html] *_client.GetAppointmentsAsync*.

The property **resigned_on** on the JSON files sometimes appear and most times it does appear. Therefore when the serialiser maps

[2020-03-09 17:05] kevbite commented on #123
I've added this property to the model and from a bit of testing, this seems to work fine. Can you check in the latest version that this is a problem? Thanks

[2020-03-20 00:29] kevbite opened #124 "Update NuGet properties"
- [x] Include icon file in the package
- [x] Include License file
- [x] Include source link (http://github.com/dotnet/sourcelink)

[2020-03-20 10:48] kevbite commented on #123
I'm closing this issue off as this should be working fine in the latest version [7.5.0](https://www.nuget.org/packages/CompaniesHouse/7.5.0)

[2020-03-20 10:48] #123 closed

[2020-04-07 14:32] #124 closed

[2020-04-29 15:37] mattu08 opened #125 "Where can I get the raw JSON from the request within this library for reference."
Hi,

Where can I get the raw JSON from the request within this library for reference.

Is there an entry point so I can grab the raw JSON coming in from the API request just to have the request as backup.

Kind regards,

Matt

[2020-04-29 16:28] kevbite commented on #125
The requests for the API are mostly GET requests with the parameters on a query string, these are built up in different places depending on which search/lookup you are executing.

Ideally, if you want to inspect the requests and responses from the library, we'd need to extend it so you can pass in a custom `DelegatingHandler`.

We could maybe accept a client handler in the settings and plumb it in

[2020-04-30 09:10] mattu08 commented on #125
Interesting, maybe something like the following that is addressed in [CompaniesHouse.Tests/StubHttpMessageHandler.cs](https://github.com/kevbite/CompaniesHouse.NET/blob/219c4242ddfeb462424351653d4b2717a1b4a253/src/CompaniesHouse.Tests/StubHttpMessageHandler.cs#L9) e.g. using `HttpClient` with the `HttpResponseMessage` to pull back the RAW JSON request. Example using: `message.Content.ReadAsStringA

[2020-04-30 09:33] kevbite commented on #125
Yeah something like that, once we allow people to add in their own `HttpMessageHandler` to use as a handler then they'll be able to take over from that point.

I'll add something later tonight, and give you an example 👍.

[2020-04-30 09:48] mattu08 commented on #125
Cheers for looking into this @kevbite 👍 Sounds good!

[2020-04-30 15:26] kevbite commented on #125
I've just updated the code in the latest version ([7.6.0](https://www.nuget.org/packages/CompaniesHouse/7.6.0)) so you can customize the `HttpMessageHandler` that is being used.

Here's some sample code to get it working, you'll need your own custom delegating handler:
[code]

Then within the creation of the `CompaniesHouseClient` you can pass in some settings like the following:

[code]

[2020-05-01 09:29] mattu08 commented on #125
@kevbite Excellent work! I managed to get this working with the above examples, slightly modified by pulling in the `var responseBody = await result.Content.ReadAsStringAsync();` directly from the public `class MyDelegatingHandler : DelegatingHandler`, Class. Again thanks for your help! 👍

[2020-05-01 11:23] kevbite commented on #125
No worries @mattu08, glad it sorted out your problem

[2020-05-01 11:39] mattu08 commented on #125
I'll close issue.  If you had a buymeacoffee i'd drop you a few quid, thanks for your help!

[2020-05-01 11:39] #125 closed

[2020-05-01 11:45] sakisk commented on #125
thanks @mattu08 i'll set it up and first thing to do would be to buy a coffee for @kevbite that have been maintaining this code for all these years now 👏 🏅

[2020-05-01 11:54] mattu08 commented on #125
@sakisk @kevbite I see what I did here 🤦‍♂️😂 I @ Tagged the wrong person, But i agree great idea!

[2020-05-01 15:20] kevbite commented on #125
No worries glad to be useful :-)

I do have a Buy me a coffee account if really fancy buying me a coffee 😉

buymeacoff.ee/d5qgmSF

[2020-05-04 07:28] MattHemus opened #126 "Missing Company Type"
Hi,

Could you add the following Company Type to the enum;

further-education-or-sixth-form-college-corporation

An example company that returns this WEST KENT & ASHFORD COLLEGE, FE000001.

The missing enum is currently causing an exception when requesting this company.

Many Thanks

Matt

[2020-05-04 08:17] mattu08 commented on #125
@kevbite No problem at all and thanks for your help! ☕ keep up the good work! 👍

[2020-05-04 10:33] kevbite commented on #126
I've just pushed a release with this in. It's in version [7.6.2](https://www.nuget.org/packages/CompaniesHouse/7.6.2).

[2020-05-04 10:38] MattHemus commented on #126
That’s great, thanks for the quick turnaround.

Matt

From: Kevin Smith <notifications@github.com>
Sent: 04 May 2020 11:34
To: kevbite/CompaniesHouse.NET <CompaniesHouse.NET@noreply.github.com>
Cc: MattHemus <matt.hemus@outlook.com>; Author <author@noreply.github.com>
Subject: Re: [kevbite/CompaniesHouse.NET] Missing Company Type (#126)

I've just pushed a release with this in. It's in version 7.6

[2020-05-04 10:44] kevbite commented on #126
Closing as the issue is fixed.

[2020-05-04 10:44] #126 closed

[2020-05-05 08:21] mattu08 opened #127 "Add companyProfile search links functionality"
I have been working with the company profile search and have noticed the below is missing from the project. Would be great to get this added.

https://developer.companieshouse.gov.uk/api/docs/company/company_number/companyProfile-resource.html

The below is from the above API reference:

"links" : {
      "charges" : "string",
      "filing_history" : "string",
      "insolvency" : "string",

[2020-05-05 08:37] mattu08 commented on #127
Also to add to the above some of the Fields are not exposed from the API e.g. dynamic Fields like "insolvency" : "string", "registers" : "string", "persons_with_significant_control_statements" : "string" etc. Only if certain parameters are met, for example if a company is in insolvency etc.

[2020-05-05 08:41] kevbite commented on #127
Makes total sense, doesn't actually say the rules on the [api docs](https://developer.companieshouse.gov.uk/api/docs/company/company_number/companyProfile-resource.html) though so I feel like it should just return an object with them all for the time being.

A lot of properties have been added to the API since this project first started so some gaps still need filling in, however, I'll try sort ad

[2020-05-05 09:01] mattu08 commented on #127
I noticed that too, that there seems to be no reference to API rules within the documentation, which is slightly annoying. But I guess pushing a few API requests here and there it can be worked out. Just adds to the Development time… And no problem, I can imagine it’s a bit of a cat and mouse game trying to keep up with the new API references/exposed fields. Thanks for looking into this. 👍

[2020-05-06 08:38] kevbite commented on #127
I've added the links on to CompanyProfile, they're nothing fancy just strings at moment.

These are in the latest version [7.7.0](https://www.nuget.org/packages/CompaniesHouse/7.7.0)

[2020-05-06 08:56] mattu08 commented on #127
Just tested with [7.7.0](https://www.nuget.org/packages/CompaniesHouse/7.7.0). Strings are great thanks, thanks for adding them in. 👍

[2020-05-06 15:01] mattu08 commented on #127
I'll close the issue, thanks for your help 👍

[2020-05-06 15:01] #127 closed

[2020-05-24 10:37] johnmackerras opened #128 "Branch Companies (Company Profile)"
Branch Companies dont seem to be suported. Please include the following fields in the Company Profile from these API fields.

branch_company_details
branch_company_details.business_activity
branch_company_details.parent_company_name   
branch_company_details.parent_company_number

Source:
https://developer.companieshouse.gov.uk/api/docs/company/company_number/companyProfile-resource.html

[2020-05-24 10:42] johnmackerras opened #129 "New Enumrerations for Response"
CompaniesHouse.Response needs some more/new enumerations:

CompaniesHouse.Response.FilingCategory
- other
- voluntary-arrangement

CompaniesHouse.Response.FilingSubcategory
- alter

CompaniesHouse.Response.PersonsWithSignificantControl.PersonWithSignificantControlKind
- super-secure-person-with-significant-control
- legal-person-person-with-significant-control

Note: Super Secure is just a person

[2020-05-24 10:45] johnmackerras opened #130 "Please support .Net Core 3.1 / .Net Standard 2.1"
Please support Latest .Net Core products (.Net Core 3.1 / .Net Standard 2.1)

[2020-05-24 17:36] kevbite commented on #130
Hello @johnmackerras, netstandard1.1 is netcore3.1 and netstandard2.1 compatible

[2020-05-24 17:37] kevbite commented on #130
Please see *.NET implementation support* table
https://docs.microsoft.com/en-us/dotnet/standard/net-standard#net-implementation-support

[2020-05-24 18:57] johnmackerras commented on #129
Sorry,
voluntary-arrangement is in FilingSubcategory, not FilingCategory

[2020-05-26 09:14] kevbite opened #131 "Add netstandard2.0 to targeted frameworks"
We should add a target framework of `netstandard2.0` so that it simplifies the dependency graph.

As said in the MS Docs [(which-net-standard-version-to-target)](https://docs.microsoft.com/en-us/dotnet/standard/net-standard#which-net-standard-version-to-target):

[2020-05-26 21:18] kevbite commented on #129
Hey @johnmackerras
I can't seem to see them extra fields of `LegalAuthority` and `LegalForm` in the docs?
https://developer.companieshouse.gov.uk/api/docs/company/company_number/persons-with-significant-control/list-resource.html

[2020-05-26 21:43] kevbite commented on #131
Now packages up netstand2.0 packages as of version [7.8.0](https://www.nuget.org/packages/CompaniesHouse/7.8.0)

[2020-05-26 21:43] #131 closed

[2020-05-26 21:44] kevbite commented on #129
The new enumerations are now part of version [7.8.0](https://www.nuget.org/packages/CompaniesHouse/7.8.0)

[2020-05-26 21:44] kevbite commented on #128
Branch Companies are now part of version [7.8.0](https://www.nuget.org/packages/CompaniesHouse/7.8.0)

[2020-05-26 21:44] #128 closed

[2020-05-27 07:27] johnmackerras commented on #129
Hi Kevin,

https://developer.companieshouse.gov.uk/api/docs/company/company_number/persons-with-significant-control/legalPerson-resource.html

Look for
identification.legal_form
identification.legal_authority

[2020-05-27 08:46] kevbite commented on #129
This library only currently does the listing of the company persons with significant control.
https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse/CompaniesHousePersonsWithSignificantControlClient.cs#L20

There seem to be loads more endpoints now to get more details and it seems them properties are on the resources:
- get corporate entities
- get individual
- get legal pers

[2020-05-28 14:29] kevbite commented on #130
I've added netstandard 2.0 support as recommended in the MS Docs, this was in issue https://github.com/kevbite/CompaniesHouse.NET/issues/131

I'm going to close this issue unless there is a need to directly support these targets.

[2020-05-28 14:29] #130 closed

[2020-06-13 14:17] johnmackerras opened #132 "Cannot convert null value to CompaniesHouse.Response.FilingHistoryStatus"
Recieved the above error when executig the GetCompanyFilingHistoryAsync for the Company number 'RS007401'

```var hist = await client.GetCompanyFilingHistoryAsync("RS007401");```

An unhandled exception occurred while processing the request.

JsonSerializationException: Cannot convert null value to CompaniesHouse.Response.FilingHistoryStatus. Path 'filing_history_status', line 1, position 81.

New

[2020-06-13 16:05] kevbite commented on #132
Hey @johnmackerras 👋, thanks for raising the issue, I've added a fix in to deal with `null` coming back from the API, this should default to a value of `None`.

This fix is in version [7.8.2](https://www.nuget.org/packages/CompaniesHouse/7.8.2).

[2020-06-22 21:36] #132 closed

[2020-07-09 07:55] MattHemus opened #133 "Missing Last Accounts Type"
Hi,

Could you add the following Last Accounts Type to the enum;

unaudited-abridged

An example company that returns this is PLAN PROCURE MANAGE LIMITED, 06450589.

The missing enum is currently causing an exception when requesting this company.

Many Thanks

Matt

[2020-07-11 13:04] kevbite commented on #133
Hello @MattHemus ,

I've added the value to the enum and check that it works fine with "PLAN PROCURE MANAGE LIMITED, 06450589".

Thanks for raising this issue.

The fix will be in version [7.8.3](https://www.nuget.org/packages/CompaniesHouse/7.8.3), this can be downloaded from [NuGet](https://www.nuget.org/packages/CompaniesHouse/7.8.3).

[2020-07-13 10:02] MattHemus commented on #133
Thanks for sorting the issue so quickly, installed latest package and everything is working okay.

[2020-07-13 10:02] #133 closed

[2020-07-16 07:54] MattHemus opened #134 "Missing Last Accounts Type - Part 2"
Hi,

I've been doing quite a bit of work with Companies House data recently and I've found another missing Accounts Type.

Could you add the following Last Accounts Type to the enum;

audited-abridged

An example company that returns this is BELMONT CEDAR PARK LIMITED, 07477470.

The missing enum is currently causing an exception when requesting this company.

Many Thanks Again

Matt

[2020-07-16 08:54] kevbite commented on #134
Hey @MattHemus,

I'll try to get this in within the next few days, I'll also check if there is any more outstanding from the documentation, however, the documentation always seems out of date compared to what is returned from the API.

[2020-07-16 09:51] kevbite commented on #134
Looking at the docs they still don't seem to include these new enumerations 😢.
https://github.com/companieshouse/api-enumerations/blob/master/constants.yml#L136

[code]

[2020-07-16 09:57] MattHemus commented on #134
That really doesn't help much does it!

I've downloaded a copy of the latest Companies House data in csv format from the website and querying this it does appear that the only 2 values that you were missing are "unaudited-abridged" and "audited-abridged".

You've obviously already added the first one so hopefully the second one will be the last of them, until they decide to make up some more :-)

[2020-07-16 11:43] kevbite commented on #134
Fix is now pushed in [7.8.4](https://www.nuget.org/packages/CompaniesHouse/7.8.4).

Please raise anymore that you come across 👍

[2020-07-16 12:37] MattHemus commented on #134
Great, thanks for the quick response again.

[2020-07-16 12:37] #134 closed

[2020-08-20 11:18] johnmackerras opened #135 "Further enumerations (after release 7.8.4)"
**Further enumerations (after release 7.8.4)**

Hi, I have uncovered some more missing enums. A lot of these seem to be newly added (as of two months ago) and you don't know about them until you hit them. I have tried to provide company numbers where I can so you have a reference for testing.

Thanks,

John

&nbsp;

**- CompaniesHouse\Response\FilingCategory.cs**

[EnumMember(Value = "reregistrati

[2020-08-20 20:10] kevbite commented on #135
Hey @johnmackerras

Thanks for raising the issue and thanks for all the detail, I'll try to sort out a new release as soon as possible so we can get these fixed for everyone.

Kev

[2020-09-05 18:23] kevbite commented on #135
Sorry about the delay in sorting this out. This is all sorted in v[7.8.7](https://www.nuget.org/packages/CompaniesHouse/7.8.7). Any other problems feel free to just raise another issue. Thanks

[2020-09-05 18:23] #135 closed

[2020-10-01 09:25] kevbite commented on #122
I've added a `hacktoberfest` label as this would be a nice one for someone to do in the community, the code is already in the tests just needs pulling in to a console app/api/mvc site 👍.

[2020-10-03 21:22] orchardc opened #137 "The best way to handel the 429 (too many request) response ?"
@kevbite  First of all, thanks so much for sharing this api, which is very useful and time-saving!

As CompaniesHouse set per application rates:

https://developer.company-information.service.gov.uk/api/docs/index/gettingStarted/rateLimiting.html

What is the best way to handel the 429 error when using this code? As the code shown doesn't have the response status (i.e. 429).

[code]

[2020-10-04 22:35] kevbite commented on #137
Hello @orchardc, the method will throw a `HttpRequestException` exception with a message containing the unsuccessful status code. You could do something like the following:

[code]

[2020-10-05 07:39] orchardc commented on #137
Got it, thanks Kevin!

[2020-10-05 07:39] #137 closed

[2020-10-13 12:12] mosoftwareenterprises commented on #122
@kevbite can I take this one?

[2020-10-14 09:10] kevbite commented on #122
Yeah that's great @mosoftwareenterprises, I've just seen the PR I'll review it later on today 👍

[2020-10-15 08:06] #122 closed

[2020-10-20 08:57] ahmed0304 opened #140 "Post data api"
How to post data to companies house using api.
Is that possible?
If yes then kindly guide

[2020-10-20 09:53] DavidBetteridge commented on #140
@ahmed0304 I'm intrigued by your question!  Do you have a requirement to be able to create (or update) multiple companies?

[2020-10-20 09:56] ahmed0304 commented on #140
I want to send data using ConfirmationStatement. Xsd to companyhouse uain asp. Net
But don't know how

[2020-10-26 20:58] kevbite commented on #140
Hey @ahmed0304, It doesn't look like the Companies House API supports submitting any data, it's only a read-only API.

[2020-10-28 19:54] kevbite commented on #140
I'm going to close this ticket. If you require any more help please raise another issue.

[2020-10-28 19:54] #140 closed

[2020-11-02 01:06] sakisk opened #144 "Implement all API endpoints"
## [Companies House Public Data API](https://developer-specs.company-information.service.gov.uk/companies-house-public-data-api/reference)
- [x] [Search All][1]
- [x] [Search Companies][2]
- [x] [Search Disqualified Officers][3]
- [x] [Search Company Officers][4]
- [x] [Company profile][5]
- [x] [Registered office address][6]
- [x] [List the company officers][7]
- [x] [Get a company officer appoin

[2020-11-02 01:12] sakisk opened #145 "Change DocumentUriBuilder to build relative uri"
[DocumentUriBuilder](https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse/UriBuilders/DocumentUriBuilder.cs) should follow the pattern of constructing a relative uri like the rest of the uri builders.

[2020-11-02 01:15] sakisk commented on #144
Feel free to add new endpoints or check as done the ones I've missed @kevbite

[2020-11-02 08:54] #119 closed

[2021-01-15 17:04] mattu08 opened #147 "New accounts type needs to be added"
Hi,

Just started getting the following error on "last accounts";

[code]

Then realized that the type was missing, could you add the missing account type:

`no-accounts-type-available`

To /src/CompaniesHouse/Response/CompanyProfile/LastAccountsType.cs

https://github.com/kevbite/CompaniesHouse.NET/blob/efef661d99dc64b38ed560e6d908695649f3ac1e/src/CompaniesHouse/Response/CompanyProfile/LastAccoun

[2021-01-16 18:28] kevbite commented on #147
Hey @mattu08, thanks for raising this issue, I'll try to get it sorted as soon as possible.

[2021-01-16 21:32] #147 closed

[2021-01-16 21:39] kevbite commented on #147
This is now fixed in the latest version [7.9.2](https://www.nuget.org/packages/CompaniesHouse/7.9.2).

[2021-01-17 11:09] mattu08 commented on #147
Thanks @kevbite 👍

[2021-02-08 12:01] mattu08 opened #149 "Companies type missing error, new types need to be added"
Hi,

I started to get a few errors for the following company types:

UKEIG example: GE000100
UK SOCIETAS example: SE000010

Then realized that the two types were missing, could you add the missing company types:

`ukeig`
`united-kingdom-societas`

To /src/CompaniesHouse/Response/CompanyType.cs
https://github.com/kevbite/CompaniesHouse.NET/blob/efef661d99dc64b38ed560e6d908695649f3ac1e/src/Companies

[2021-02-08 23:04] kevbite commented on #149
Hey @mattu08, thanks for raising this issue, I've updated the code to reflect the API responses. You're faster at finding the API changes than their own [api-enumeration](https://github.com/companieshouse/api-enumerations/blob/master/constants.yml#L46) documentation being updated 😉.

[2021-02-08 23:09] kevbite commented on #149
This is now in the NuGet release [7.9.4](https://www.nuget.org/packages/CompaniesHouse/7.9.4). If you spot any other changes please feel free to open another issue. Thanks.

[2021-02-08 23:09] #149 closed

[2021-02-09 09:07] mattu08 commented on #149
Haha, No problem @kevbite will do! Thanks for adding the fix in 👍.

[2021-02-09 11:07] mattu08 opened #150 "New Company CompanyStatusDetail Status need to be added."
Hi,

Just found two errors for missing Status:

`converted-to-ukeig` Example: GE000091
`converted-to-uk-societas` Example SE000010

These are missing from the following location: `CompaniesHouse.Response.CompanyStatusDetail`
https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse/Response/CompanyStatusDetail.cs

Thanks again,

Matt

[2021-02-09 11:12] mattu08 commented on #150
Hopefully there are no more issues with these two linked to other types etc. Also having `converted-to-` is slightly worrying, just in case Companies House has started to use this structure for other company types etc. There would then be quite a few too add in.

[2021-02-09 23:59] kevbite commented on #150
Just pushed up the 2 changes for them, I agree that would be slightly annoying but if they followed some convention we could convert it into something a little easier.

[2021-02-10 00:00] kevbite commented on #150
This is in the latest NuGet package now [7.9.5](https://www.nuget.org/packages/CompaniesHouse/7.9.5)

[2021-02-10 09:06] mattu08 commented on #150
I agree it's pretty much like a break and fix type of scenario at the moment with them, anyway thanks again for getting this added in. Cheers 👍

[2021-02-10 09:23] #150 closed

[2021-02-10 09:24] mattu08 commented on #150
I'll close the ticket.

[2021-04-15 09:12] mattu08 opened #151 "Charges type conversion exception"
Hi,

I have been testing the charges functionality recently and have started getting an exception when performing a basic charges search.

Exception:

`Newtonsoft.Json.JsonReaderException: 'Could not convert string to integer: 3011770624. Path 'items[1].insolvency_cases[0].transaction_id', line 1, position 2806.'`

Company Reg number tested on: `03487070`

CompaniesHouse.NET v7.9.5 most recent bui

[2021-04-18 19:53] kevbite commented on #151
Hey, thanks for raising, just checked their documentation and it still says it should be passing back an integer. So guess they've decided to start passing back a string of an integer...
![image](https://user-images.githubusercontent.com/5544715/115158283-50b3fe80-a085-11eb-8ed5-29fb77de02d8.png)
![image](https://user-images.githubusercontent.com/5544715/115158837-1a2bb300-a088-11eb-93a4-fd09fc8b5

[2021-04-19 22:02] kevbite commented on #151
Just realized the problem, the value is coming back which is over the maximum size for an int.

[2021-04-19 22:34] #151 closed

[2021-04-19 23:11] mattu08 commented on #151
Good find! 👍 I’ll let you know if I find anymore like this, thanks for looking into this.

[2021-04-20 00:54] sakisk commented on #64
Closed via #119 and #120

[2021-04-20 00:54] #64 closed

[2021-04-20 10:38] kevbite commented on #151
@mattu08 it's not pushed to NuGet yet as we're having a bit of a problem with the companies house api throttling our tests. I might just disable the tests for the older frameworks as these are not supported by MS anyway now.

[2021-04-20 11:24] sakisk commented on #129
Closing this as work scheduled in #144 will add all enumerations for each endpoint

[2021-04-20 11:24] #129 closed

[2021-04-22 00:15] sakisk opened #154 "Get a single charge for a company"
Individual charge information for company. [docs](https://developer-specs.company-information.service.gov.uk/companies-house-public-data-api/reference/charges/get)

[2021-04-23 13:01] alexmohr1966 opened #155 "PersonWithSignificantControl misses property Identification"
When a PSC is of kind "corporate-entity-person-with-significant-control" essential information to identify the company is transferred within in the property "identification". Unfortunately this is not mapped in the class PersonWithSignificantControl.
Here we would need to add
[code]
referencing a new class
[code]
Thank you for your consideration.

[2021-04-23 13:02] kevbite commented on #155
Hey @alexmohr1966, Thanks for highlighting this issue, we'll sort this out for you as soon as possible.

[2021-04-24 18:24] alexmohr1966 commented on #155
Great, thanks @kevbite . As you will see, I have missed one property under Identification
[code]

[2021-04-24 21:27] #145 closed

[2021-06-16 22:14] dm007 opened #156 "Is there a quick manner to get the source values as returned by the API - instead of the enum values?"
Is there a way to retrieve the source value as returned by the API instead of the enum values or look to include the following availalbe from Companies House documentation for proper mapping?

https://raw.githubusercontent.com/companieshouse/api-enumerations/master/constants.yml

For example:
**Company Profile > Company Type:**
Source from API: "ltd"
enum from the library: "Ltd"
The mapping from t

[2021-06-24 08:49] kevbite commented on #156
Hey, @dm007 sorry about the late reply, originally there was no `constants.yml` files when we started this project, also it seems that they are also slower at updating the yaml files than their API as we've implemented new enumerations before they've been listed too (See https://github.com/kevbite/CompaniesHouse.NET/issues/149). This could cause some issues down the line.

I'd say the library does

[2021-06-24 20:01] dm007 commented on #156
Thanks @kevbite. I'm using reflection right now in my poc to lookup the values as returned by the API. I will keep an eye here to see if/when DisplayName gets added, and can update as necessary.

This is a great library though, as it makes it quick and easy to fetch data from Companies House.

note: By the way, I'm trying to figure out a way to fetch document metadata and document pdf, as the docu

[2021-06-24 22:33] kevbite opened #157 "Implement a way to expose the display names for enum values"
Companies House have a list of enum values to their display name representation. It'd be good if the following was possible:

[code]

We could do this by having [`[DisplayName]`](https://docs.microsoft.com/en-us/dotnet/api/system.componentmodel.displaynameattribute?view=net-5.0) attributes on the enum values with the corresponding values in the yaml file (https://raw.githubusercontent.com/companie

[2021-06-24 22:35] kevbite commented on #156
@dm007 glad the library is useful, if you fancy forking the code and pushing the changes in for the DisplayName stuff I'll happily accept it into the codebase. (I'm just fairly busy at the moment to implement it).

I've raised an issue here for you to track - https://github.com/kevbite/CompaniesHouse.NET/issues/157

Not sure what's going off with the document metadata, we do have some tests in the

[2021-06-28 20:27] dm007 commented on #156
@kevbite -
I will try to have a look at it over the next few days. Thanks for the pointer to the documents, will need to check it further, as nothing worked based on IDs and URL we receive as part of the filing history results.

Thanks!

[2021-06-30 08:59] jeyprakash opened #158 "407 Proxy Authentication Required"
I tried the sample project coding to connect CompaniesHouse API.
But unfortunately I'm getting the below error,

HttpRequestException: Response status code does not indicate success: 407 (Proxy Authentication required).

I'm using the valid authentication key and passing on to the CompaniesHouseSettings( api_key ).

Could someone please help me on this issue?

[2021-06-30 13:08] kevbite commented on #158
Hey @jeyprakash it sounds like you're connecting from behind a proxy that requires authentication? Can you confirm?

[2021-06-30 14:02] jeyprakash commented on #158
Hello @kevbite , yes, I'm behind the proxy. But the same APIs where called from the Microsoft Excel using VBA code and it works fine. The Excel VBA was written by someone. Now I'm trying to rewrite using PowerApps and using an API wrapper around CompaniesHouse.
So, I'm bit confused here. Could you please help me on how can I overcome this via C# code ?

[2021-07-01 16:16] kevbite commented on #158
It doesn't seem like it's picking up the default proxy. Can you try explicitly setting these? Within the settings that you pass to the CompaniesHouseClient you can specify a HttpMessageHandler where you can setup the proxy settings.

[code]

[2021-09-15 08:38] chrisusher opened #159 "NotImplemented Exception writing CompanyProfile to JSON File"
I'm using this package in my own Fake API so it returns as close to real CH Objects from a NET Core WebAPI from JSON files within the WebAPI not CH itself.

Everything is fine so far, until am not able to serialise CompanyProfile to JSON files.

`List<CompanyProfile> companyProfiles = new List<CompanyProfile>();`
`File.WriteAllText(CompanyProfilesPath, JsonConvert.SerializeObject(companyProfiles,

[2021-10-03 21:09] sakisk opened #160 "Get the filing history of the company per transaction"
Get the filing history item of a company [docs](https://developer-specs.company-information.service.gov.uk/companies-house-public-data-api/reference/filing-history/filinghistoryitem-resource)

[2021-10-27 12:50] sakisk opened #163 "Get registered office address"

[2021-10-28 11:09] sakisk opened #165 "Get a company officer appointment"

[2021-10-31 18:29] #154 closed

[2021-10-31 18:30] #160 closed

[2021-10-31 18:31] #163 closed

[2021-10-31 20:23] #165 closed

[2021-11-03 10:24] adancy commented on #159
I had the same problem so I've opened a PR which will resolve the issue, feel free to nick my code from the patch to patch your copy of the library in the meantime.

[2021-11-03 10:52] kevbite commented on #159
Hey @chrisusher/@adancy, sorry about the delay in getting back to you.

@adancy thanks for the contribution, I've merged this in, and is part of the [7.10.1](https://www.nuget.org/packages/CompaniesHouse/7.10.1) Release.

If you do come across any more issues please do raise them and if you have time to create a patch I'll happily try to merge them in ASAP.

[2021-12-26 17:34] johnmackerras opened #168 "ArgumentException: Requested value 'debenture' was not found"
ArgumentException: Requested value 'debenture' was not found
JsonSerializationException: Error converting value "debenture" to type 'CompaniesHouse.Response.FilingSubcategory'
when calling await client.GetCompanyFilingHistoryAsync(registrationNumber) for Company Number 13189382

[2022-01-06 10:26] smp99 opened #169 "Deleted OfficerId property"
Hi

I've just upgraded to the latest version and noticed that the OfficerId property disappeared from the CompaniesHouse.Response.Officers.OfficerAppointmentLink class in October 2021 (together with a property in the Officer class referencing it).
[code]
I can't see any discussion on this - was there a reason it was dropped as I made use of it?

[2022-01-06 23:33] #168 closed

[2022-01-07 11:07] #169 closed

[2022-01-08 00:01] #159 closed

[2022-01-08 00:07] kevbite commented on #158
I'm closing this issue but feel free to reopen if you continue having problems. Thanks

[2022-01-08 00:07] #158 closed

[2022-01-08 17:05] #155 closed

[2022-04-28 11:33] sahgilbert opened #175 "Question: Is it possible to create a new LTD company using this wrapper/api?"
1. Is it possible to create a new LTD company using the companies house REST api?
2. If so, does this C# wrapper support this functionality?

Thanks

[2022-04-29 09:52] kevbite commented on #175
@sahgilbert sadly the API that this uses does not expose any endpoints to create new companies. This wraps up the [Companies House Public Data API](https://developer-specs.company-information.service.gov.uk/companies-house-public-data-api/reference).

I don't think there are any endpoints that companies house expose that provide that functionality

[2022-05-03 15:23] sahgilbert commented on #175
Understood, thank you.

[2022-05-03 15:23] #175 closed

[2022-06-24 15:26] Manns19 opened #179 "Company Address"
Just want to say this Is an amazing library and saved me loads of time but is there a way of pulling through the company address? it seems to just show as CompaniesHouse.Response.Address.

[2022-06-27 09:11] #179 closed

[2022-07-04 14:13] robertmaxted opened #180 "Companies house sandbox test api"
Is there a chance that you could allow the use of the companies house sandboxing api? https://developer.company-information.service.gov.uk/api-testing

[2022-07-07 08:03] kevbite commented on #180
Hello @robertmaxted, you should be able to pass in a different Base URI within the settings when creating the CompaniesHouseClient
https://github.com/kevbite/CompaniesHouse.NET/blob/master/src/CompaniesHouse/CompaniesHouseSettings.cs

[2022-07-08 11:58] robertmaxted commented on #180
Hi Kev,

I tried that using the following uri - https://api-sandbox.company-information.service.gov.uk/

It unfortunately does not work. I tested a get using postman and it worked. But doesn't work in code. If you could try to replicate that would be great, if not then no worries. This NuGet is brilliant and I am grateful for the work you have put into it!

[2022-07-16 18:28] kevbite commented on #180
Hello @robertmaxted
I've just tried the sandbox uri within the settings and it works fine, doesn't return any results as I've not setup any data but returns an empty list.

[code]

[2022-07-18 15:15] bernhard-hofmann opened #181 "Include response headers in failed requests"
This is a feature request.

I'd like to propose a change that will include response header details in the `Data` property of the exception thrown for unsuccessful requests.

The calls to `response.EnsureSuccessStatusCode()` will throw without adding headers. In the case of a 503 or 429, the `Retry-After` header could be invaluable for correct behaviour on the part of the client. See https://develo

[2022-08-08 08:33] mattu08 opened #183 "New changes to some API data types."
Hi,

Just thought, i'd bring this to your attention just in case this is the first time you have heard of these changes below:

You can read the full post from this link: https://forum.aws.chdev.org/t/upcoming-changes-to-the-api-and-stream-responses/5299

I have also posted the post below if this also helps.

"
  [MArkWilliams](https://forum.aws.chdev.org/u/MArkWilliams)
Companies House

There wil

[2022-08-18 11:03] BernhardHofmannAtDwellant commented on #183
Is the CH API versioned @mattu08 ? I.e. could we avoid breaking changes by consuming an older version until the changes in the latest version are supported in this library?

[2022-08-18 11:04] BernhardHofmannAtDwellant commented on #181
Happy for you to close this issue now @kevbite. Thank you for the very swift merge and publish!

[2022-08-18 12:11] BernhardHofmannAtDwellant opened #185 "Add support for new Company Statuses and Types"
[The Companies House (CH) company search specification](https://developer-specs.company-information.service.gov.uk/companies-house-public-data-api/resources/companysearch?v=latest) lists a type and two statuses that are not currently supported. Specifically;

* Company statuses `registered` and `removed`
* Company type `registered-overseas-entity`

These need to be supported to avoid exceptions wh

[2022-08-18 13:11] #181 closed

[2022-08-18 13:11] #185 closed

[2022-08-18 13:22] kevbite commented on #185
This is release in NuGet version [7.11.7](https://www.nuget.org/packages/CompaniesHouse/7.11.7)

[2022-08-23 15:00] mattu08 commented on #183
Hi @BernhardHofmannAtDwellant

As this is a post from the CH Development forum it is hard to tell, from what I’ve read so far it looks like upcoming changes, annoyingly there isn’t a specified date on the post for when these changes are going to be pushed LIVE, also you cannot reply to the post which isn’t helpful.

From your question about using an older version until these changes are made, I gu

[2022-08-23 19:54] BernhardHofmannAtDwellant commented on #183
I think I made an incorrect assumption - that you worked at/on the CH API.

Indeed it was the `?v=latest` on the documentation that lead me to believe there might be versioning, but I see no mention of it in the documentation, which is sad because it means we'll always be rushing to implement the latest `enum` values when they introduce a new type/status/etc.

[2022-08-26 07:23] kevbite commented on #183
@mattu08 @BernhardHofmannAtDwellant I've never seen any versioning on their API docs since it was in beta, it's a lot of effort supporting multiple API versions but you never know they might have something that's not public knowledge

[2022-08-26 07:36] bernhard-dwe opened #187 "Quickly respond to CH API changes"
I was considering adding a utility that could generate the enums from the CH specification.

It would be a CLI tool that generates the C# classes that define enums for the strings that CH support. It could have an option to apply the changes, with the default being to merely report on the differences.

Is this something you'd find useful?

[2022-09-03 14:03] kevbite commented on #187
@bernhard-dwe the problem is that there are enums that come out and then it's normally months afterward that they're pushed to their GitHub repo. We've seen that in the past a lot.

I thought early on about creating a source generator to go grab all the enums and create the code for them on each build, but same problem as above. You can see passed issues that mention these problems too.

[2022-09-05 09:55] bernhard-dwe commented on #187
My intention was to grab the strings from their API documentation, not their repo. Or is their documentation sometimes updated in arrears of their API?

[2022-09-05 13:00] kevbite commented on #187
I've found that both the docs and their repo lacks behind when they add new enums

[2022-09-05 13:27] kevbite opened #188 "Move to using System.Text.Json"
System.Text.Json is now the default for .NET applications, it has loads of performance benefits too.

[2022-09-13 12:41] kevbite commented on #183
Just looking back over the docs and there is mention of versioning using Accept/Content-Type headers but nowhere in the actual API documentation tells you anything about these versions of resources.
https://developer-specs.company-information.service.gov.uk/guides/versioning

[2022-09-19 15:40] kevbite opened #189 "Ideas for changing the CompaniesHouseClientResponse class"
Currently, all method calls return a `CompaniesHouseClientResponse<T>` which is a wrapper around a Data object, however, recently we've added StatusCode, ReasonPhrase, and RetryAfter (https://github.com/kevbite/CompaniesHouse.NET/pull/182) so that clients can apply back off policies when calling endpoints on the API. The new feature was just added as an exception which isn't great for a consumer a

[2022-09-19 17:46] DavidBetteridge commented on #189
I quite like the switch statement approach as it forces you to consider if the call was successful or not.

[2022-09-30 13:03] kevbite opened #190 "Use services.Try... as recommend for libraries"
https://docs.microsoft.com/en-us/dotnet/core/extensions/dependency-injection#service-registration-methods

[2022-10-03 10:06] kevbite opened #191 "Move to GitHub actions"

[2022-10-03 10:08] kevbite opened #192 "Ability to pull API Key from any location"
We need a way to allow the API Key to be pulled from any location, currently, it's just a static string when adding to the IoC container but would be better if we had some `IApiKeyProvider` with a `StaticApiKeyProvider` as the default.

[2022-10-03 20:24] #190 closed

[2022-10-15 20:37] #192 closed